{% extends 'SearchEngine/base.html' %}
{% block content %}
<!--<p> <b>{{ founded_results }} results founded</b> </p>-->

{% if not selected_len %}
<p style="color:red"> <b> Please select at least one database from the list! {{ selected_len }}</b> </p>
{% elif error %}
<p style="color:red"> <b> {{ error }}</b></p>
{% else %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Path</th>
        <th>Exact match</th>
        <th>Server name</th>
        <th>Search for metadata</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for record in page %}
        {% if record is not None %}
        <tr>
          {% if record.exact_match %}
              <td><a href= 'ftp://{{ record.url }}{{ record.path }}' 
            target="_blank" style="color:#008211" title="{{ record.path}}">{{ record.path|truncatechars:30 }}</a></td>
          {% else %}
              <td><a href= 'ftp://{{ record.url }}{{ record.path }}' 
            target="_blank" title="{{ record.path}}">{{ record.path|truncatechars:30 }}</a></td>
          {% endif %}
            <td>{{ record.exact_match }}</td>
            <td>{{ record.name }}</td>
            <td><a href= "{{record.metadata}}" target="_blank">{{record.metadata}}</a></td>
          {% if record.meta_links|length %}
              <td><a href= "{% url 'meta_links' server_name=record.name path_id=record.path_id %}" target="_blank">{{ record.meta_links|length }} files</a></td>
          {% else %}
              <td> --- </td>
          {% endif %}
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  
  {% if is_other_pages %}
    <ul class="pagination">
      {% if page.has_previous %}
        <li><a href="/search_result/?page={{ page.previous_page_number }}"
          onclick="return chagne_page()" id="change_page_id">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% for i in page.page_range %}
        {% if page.number == i %}
          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
          <li><a href="/search_result/?page={{ i }}" onclick="return chagne_page()" id="change_page_id">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page.has_next %}
        <li><a href="/search_result/?page={{ page.next_page_number }}"
          onclick="return chagne_page()" id="change_page_id">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
{% endif %}
  {% endblock %}