{% extends 'SearchEngine/base.html' %}
{% block content %}
    <h1>Select server</h1>
    <span class="select-all">
        <span class="square"><a href='#' id='select-all' class="tenth before after">select all</a></span>
    </span>
    <span class="deselect-all">
        <span class="square"><a href='#' id='deselect-all' class="tenth before after">deselect all</a></span>
    </span>
    <br>
    <br>
    <form id='pre-selected-options' multiple='multiple'>{% csrf_token %}
    	{% for name in servers %}
    		<option value={{name.path}} title={{name.path}}>{{name}}</option>
    	{% endfor %}
    </form>
    <div class="suggest_server">
        <span class="square"><a href="{% url 'suggest_server' %}" class="tenth before after">Suggest new server</a></span>
    </div>
    <h1>Enter your Keyword here</h1>
    {{ search_form.word }}
    <br>
    <button id="submit_search" class="save btn btn-default"
    onclick="return search_result()" type="submit">Search</button>
    <div class="material-switch pull-left">
        <span class="exact_match">Only search for exact matches: &nbsp;</span> {{ search_form.exact_only }}
        <label for="someSwitchOptionInfo" class="label-success"></label>
    </div>
    {% if user.is_authenticated %}
        <div class="recommendations">
            <ul>
                <p> Recommended words for you: </p>
                {% for word in recommended_words %}
                <li><a href="{% url 'recom_redirect' keyword=word.0 %}" >{{word.0}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}