{% extends 'SearchEngine/base.html' %}
{% block content %}

<h1>Suggest server</h1>
<form class="form-group" action="POST">
        {% for field in form %}
        {% if field.errors %}
            <div class="control-group error">
                <label class="control-label">{{ field.label }}</label> 
                <div class="controls">{{ field }}
                    <span class="help-inline">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="control-group">
                <label class="control-label">{{ field.label }}</label> 
                <div class="controls">{{ field }}
                    {% if field.help_text %}
                        <p class="help-inline"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <button id="submit" class="save btn btn-default" 
     type="submit" value="inputdata">Submit</button>
</form>

{% endblock %}